task-detail {
    .confirmed {
        transition: display 3s;
        display: block;        
    }  
    
    h1 {
        margin: 0;
        color: map-get($colors, primary);
    }

    p {
        text-align: center;
    }

    .grid {
        padding: 0;
        margin-left: 0;
    }
        

    .list-md {
        margin: 0;
    }

    .header-item {
        display: flex;
        justify-content: space-around;
        flex: 1 0 auto;
        text-align: center;            
        
        .date-time {
            align-self: flex-start;
        }
    } 
    
    .label.label-md.ng-star-inserted {
        margin: 10px 0 0;
        display: flex;
        justify-content: space-between;
    }

    .item.item-block.item-md {
        padding: 0;
    }
    
    .icon-big.icon.icon-md.ion-md-alarm.item-icon {
        align-self: flex-start;
    } 

    .direction-arrow {
        text-align: center;
        font-size: 1.8em;
        font-family: 'Anonymous Pro', monospace, 'Nanum Gothic Coding';
        color: #00acc1;
    }
    
    // Progress bar
    .route-location {
        display: flex;
        align-items: center;
        flex-direction: column;       
    }

    progress-bar {
        width: 100%;

        .progress-outer {
            width: 100%;
            padding: 3px;
            color: #fff;
            text-align: center;
        }

        .progress-inner {
            width: 100%;
            background-color: rgb(72, 138, 255);
            color: rgb(72, 138, 255);
        }
    }

    .mat-progress-bar {
        margin: 0 5px;
    }

    .mat-progress-bar-buffer {
        background-color: #00abc1a1;
    }

    .mat-progress-bar-fill::after {
        background-color: #00acc1;
    }
    

    .route-progress-section {
        display: flex;
        align-items: center;
      }
      
      .route-progress-margin {
        margin: 0 10px;
      }

    
    ion-range.range.range-md {
        overflow: hidden;
        background: #ffffff;
        border-radius: 30px;        
        

        .range-bar {
            left: 0;
            top: 0 !important;
            position: absolute;
            // width: 100%;
            height: 100% !important;
            background: map-get($colors, primary);
            pointer-events: none;
            display: flex;
            align-items: center;            
            border-radius: 20px;
            

            &:not(.range-bar-active) {
                justify-content: center;
                text-align: center;
                color: map-get($colors, secondary);
                font-size: 0.8em;
                padding-left: 25px;
            }
        }

    }

    .range-bar.range-bar-active {
        background: #badc09b8;
    }
    
    .range-knob-handle {
        left: 0;
        text-align: center;
        position: absolute;        
    }

    .range-md .range-knob {
        left: 12px;
        top: -6px;
        border-radius: 30px;
        position: absolute;
        z-index: 2;
        width: 180%;
        height: 130%;
        // -webkit-transform: scale(0.80);
        // transform: scale(0.80);       
    }

    .range-knob .range-knob-pressed {
        -webkit-transform: scale(0.67);
        transform: scale(0.67);
    }

    .range-knob::after {
        content: ">>";
        position: absolute;
        top: 12px;
        font-size: 33px;
        left: 20px;
        line-height: 100%;
        font-family: 'Anonymous Pro', monospace, 'Nanum Gothic Coding', monospace;
        color: map-get($colors, secondary);
    }

    .range-ios .range-knob {
        left: 20px;
        top: 7px;
        border-radius: 25px;
        position: absolute;
        width: 100%;
        height: 28px;
        background: #fff;
        -webkit-box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.13), 0 0 0 1px rgba(0, 0, 0, 0.02);
        box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.13), 0 0 0 1px rgba(0, 0, 0, 0.02);
        pointer-events: none;

        &::after {
            content: ">>";
            position: absolute;
            top: 5px;
            font-size: 15px;
            left: 12px;
        }
    }    

    .range-ios .range-bar {
        left: 0;
        top: 21px;
        border-radius: 25px;
        position: absolute;
        height: 1px;
        background: #74e2d4;
        pointer-events: none;
    }

    

    .range-md .range-knob-min.range-knob-min .range-knob {
        border: none;
        background: #fff;
    }

    .range-knob-pressed .range-knob {
        scale: 0;
    }

    .range-md-secondary .range-bar-active, .range-md-secondary .range-knob, .range-md-secondary .range-pin, .range-md-secondary .range-pin::before {
        background: #ffffff;
    }

    .map-container {
        width: 100%;
        height: 300px;
        
        #map_canvas {
            height: 100%;
            width: 100%;
        }
    }

    .map_wrapper {
        height: 100%;
        width: 100%;
    }
}
