<ion-header>
  <ion-navbar #NavBar color="primary">
    <ion-title>
      Ya Run
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-item>
        <div class="header-item">
          <!-- <div>
            <ion-icon name="alarm" class="icon-big"></ion-icon>
          </div> -->
          <div class="date-time">
            <p>Scheduled at:</p>
            <h2>{{ task.startAt | date: 'HH:mm' }}</h2>
          </div>
        </div>
        <div class="header-item">
          <!-- <div>
            <ion-icon name="people" class="icon-big"></ion-icon>
          </div> -->
          <div *ngIf="startedAt">
            <p>Started at: </p>
            <h2> {{ startedAt | date: 'HH:mm' }} </h2>
          </div>
        </div>
        <div class="header-item">
            <!-- <div>
              <ion-icon name="speedometer"></ion-icon>
            </div> -->
            <div *ngIf="!completed; else runCompleted">
              <p>Next destination in: </p>
              <p>
                <span>{{ distanceToNext }}</span>
                 - 
                <span>{{ durationToNext }}</span>
              </p>
            </div>
            <ng-template #runCompleted>
              <p>Finished at: </p>
              <!-- <h2> {{ completedAt | date: 'HH:mm' }} </h2> -->
            </ng-template>
          </div>
      </ion-item>
    </ion-list-header>   
  </ion-list>
  <!-- <ion-list>  -->
    <ion-grid>
      <!-- Progress bar -->
      <ion-row>
        <ion-col col-1>      
        </ion-col>        
        <ion-col col-10>
          <div class="route-progress-section">
            <ion-icon name="pin"></ion-icon>
            <mat-progress-bar class="route-progress-margin"
              class="progress-bar-margin"
              [color]="pbOptions.color"
              [mode]="pbOptions.mode"
              [value]="pbOptions.value"
              [bufferValue]="pbOptions.bufferValue">
            </mat-progress-bar>
            <ion-icon name="pin"></ion-icon>
          </div>
        </ion-col>
        <ion-col col-1>
        </ion-col>
      </ion-row>
      <!-- Origine > Destination -->
      <ion-row>
        <!-- Origin -->
        <ion-col col-5>
          <div class="route-location" 
            *ngIf="task.type === runType.DROPOFF && !started">
            <p>{{ task.from.name }}</p>
          </div>
          <div class="route-location"
            *ngIf="task.type === runType.DROPOFF && started && !oneOfTwoCompleted">
            <p>{{ task.from.name }}</p>
          </div>
          <div class="route-location"
            *ngIf="task.type === runType.DROPOFF && (oneOfTwoCompleted || twoOfTwoStarted)">
            <p>{{ task.to.name }}</p>
          </div>

          <div class="route-location"
            *ngIf="task.type === runType.PICKUP && !started">
            <p>{{ task.to.name }}</p>
          </div>
          <div class="route-location"
            *ngIf="task.type === runType.PICKUP && started && !oneOfTwoCompleted">
            <p>{{ task.to.name }}</p>
          </div>
          <div class="route-location"
            *ngIf="task.type === runType.PICKUP && oneOfTwoCompleted">
            <p>{{ task.from.name }}</p>
          </div>

          <div class="route-location"
            *ngIf="task.type === runType.THREELEGS && !started">
            <p>{{ FESTIVAL.NAME }}</p>
          </div>
          <div class="route-location"
            *ngIf="task.type === runType.THREELEGS && started && !oneOfThreeCompleted">
            <p>{{ FESTIVAL.NAME }}</p>
          </div>
          <div class="route-location"
            *ngIf="task.type === runType.THREELEGS && oneOfThreeCompleted && !twoOfThreeCompleted">
            <p>{{ task.from.name }}</p>
          </div>  
          <div class="route-location"
            *ngIf="task.type === runType.THREELEGS && twoOfThreeCompleted">
            <p>{{ task.to.name }}</p>
          </div>
        </ion-col>
        <!-- Arrow -->
        <ion-col col-2>
          <div class="direction-arrow">></div>
        </ion-col>
        <!-- Destination -->
        <ion-col col-5>          
          <div class="route-location" 
            *ngIf="task.type === runType.DROPOFF && !started">
            <p>{{ task.to.name }}</p>
          </div>          
          <div class="route-location"
            *ngIf="task.type === runType.DROPOFF && started && !oneOfTwoCompleted">
            <p>{{ task.to.name }}</p>
          </div>
          <div class="route-location"
            *ngIf="task.type === runType.DROPOFF && (oneOfTwoCompleted || twoOfTwoStarted)">
            <p>{{ task.from.name }}</p>
          </div>

          <div class="route-location"
            *ngIf="task.type === runType.PICKUP && !started">
            <p>{{ task.from.name }}</p>
          </div>
          <div class="route-location"
            *ngIf="task.type === runType.PICKUP && started && !oneOfTwoCompleted">
            <p>{{ task.from.name }}</p>
          </div>
          <div class="route-location"
            *ngIf="task.type === runType.PICKUP && oneOfTwoCompleted">
            <p>{{ task.to.name }}</p>
          </div>

          <div class="route-location"
            *ngIf="task.type === runType.THREELEGS && !started">
            <p>{{ task.from.name }}</p>
          </div>
          <div class="route-location"
            *ngIf="task.type === runType.THREELEGS && started && !oneOfThreeCompleted">
            <p>{{ task.from.name }}</p>
          </div>
          <div class="route-location"
            *ngIf="task.type === runType.THREELEGS && oneOfThreeCompleted && !twoOfThreeCompleted">
            <p>{{ task.to.name }}</p>
          </div>
          <div class="route-location"
            *ngIf="task.type === runType.THREELEGS && twoOfThreeCompleted">
            <p>{{ FESTIVAL.NAME }}</p>
          </div>          

        </ion-col>
      </ion-row>
      
      <!-- Range Button -->
      <ion-row>
        <ion-col col-2>
        </ion-col>        
        <ion-col col-8>
          <ion-list *ngIf="task.type !== runType.THREELEGS; else threeLegs" #ctaList>        
            <ion-item *ngIf="started === false && completed === false">                      
              <ion-range
                #cursorMoveLeft 
                [(ngModel)]="startConfirmValue"
                color="secondary"
                debounce="200"
                step="5"
                (ionChange)="updateStatus(startConfirmValue, runStatus.STARTED)">
              </ion-range>                       
            </ion-item>

            <ion-item *ngIf="started && !oneOfTwoCompleted">
              <ion-range
                #cursorMoveLeft 
                [(ngModel)]="oneOfTwoCompletedConfirmValue"
                color="secondary"
                debounce="200"
                step="5"
                (ionChange)="updateStatus(oneOfTwoCompletedConfirmValue, runStatus.ARRIVED_AT_DESTINATION)" >
              </ion-range>
              
            </ion-item>
              <ion-item *ngIf="oneOfTwoCompleted && !twoOfTwoStarted">
                <ion-range                            
                [(ngModel)]="twoOfTwoStartedConfirmValue"
                color="secondary"
                debounce="200"
                step="5"
                (ionChange)="updateStatus(twoOfTwoStartedConfirmValue, runStatus.ON_THE_WAY_BACK)" >
              </ion-range>                  
            </ion-item> 
                                  
            <ion-item *ngIf="twoOfTwoStarted && !completed" >
              <ion-range 
                [(ngModel)]="twoOfTwoCompletedConfirmValue"
                color="secondary"
                debounce="200"
                step="5"
                (ionChange)="updateStatus(twoOfTwoCompletedConfirmValue, runStatus.COMPLETED)" >
              </ion-range>
              </ion-item>                 
            <ion-item *ngIf="completed === true" >
              <ion-label [@enterAnimation]>
                <p>RUN COMPLETED !</p>
                <p>CONGRATS !</p>
                <p>THANKS !</p> 
              </ion-label>                    
            </ion-item>              
          </ion-list>
          <ng-template #threeLegs>
            <ion-list #ctaList>
              <ion-item *ngIf="!started">                      
                <ion-range
                  #cursorMoveLeft 
                  [(ngModel)]="startConfirmValue"
                  color="secondary"
                  debounce="200"
                  step="5"
                  (ionChange)="updateStatus(startConfirmValue, runStatus.STARTED)" >
                </ion-range>                       
              </ion-item>    
              <ion-item *ngIf="started && !oneOfThreeCompleted">
                <ion-range
                  #cursorMoveLeft 
                  [(ngModel)]="oneOfThreeCompletedConfirmValue"
                  color="secondary"
                  debounce="200"
                  step="5"
                  (ionChange)="updateStatus(oneOfThreeCompletedConfirmValue, runStatus.ARRIVED_AT_DESTINATION)" >
                </ion-range> 
                #{{ twoOfThreeCompletedConfirmValue }}                
              </ion-item>
              <ion-item *ngIf="oneOfThreeCompleted && !twoOfThreeStarted">
                <ion-range                            
                [(ngModel)]="twoOfThreeStartedConfirmValue"
                color="secondary"
                debounce="200"
                step="5"
                (ionChange)="updateStatus(twoOfThreeStartedConfirmValue, runStatus.ON_THE_WAY_TO_SECOND_DESTINATION)" >
                </ion-range> 
                #{{ twoOfThreeCompletedConfirmValue }}                 
              </ion-item> 
                                    
              <ion-item *ngIf="twoOfThreeStarted && !twoOfThreeCompleted" >
                <ion-range 
                  [(ngModel)]="twoOfThreeCompletedConfirmValue"
                  color="secondary"
                  debounce="200"
                  step="5"
                  (ionChange)="updateStatus(twoOfThreeCompletedConfirmValue, runStatus.ARRIVED_AT_SECOND_DESTINATION)" >
                </ion-range>
                
              </ion-item>

              <ion-item *ngIf="twoOfThreeCompleted && !threeOfThreeStarted" >
                <ion-range 
                  [(ngModel)]="threeOfThreeStartedConfirmValue"
                  color="secondary"
                  debounce="200"
                  step="5"
                  (ionChange)="updateStatus(threeOfThreeStartedConfirmValue, runStatus.ON_THE_WAY_BACK)" >
                </ion-range>
              </ion-item>
              <ion-item *ngIf="threeOfThreeStarted && !completed" >
                <ion-range 
                  [(ngModel)]="threeOfThreeCompletedConfirmValue"
                  color="secondary"
                  debounce="200"
                  step="5"
                  (ionChange)="updateStatus(threeOfThreeCompletedConfirmValue, runStatus.COMPLETED)" >
                </ion-range>
              </ion-item>                            
            </ion-list>
            <ion-item *ngIf="completed" >
              <ion-label [@enterAnimation]>
                <p>RUN COMPLETED !</p>
                <p>CONGRATS !</p>
                <p>THANKS !</p> 
              </ion-label>                    
            </ion-item>
            {{ task.type }} /  {{ task.status }} {{ started }} {{ oneOfTwoCompleted }}  {{ twoOfTwoStarted }}         
            {{ !started && !completed }} {{ started && !oneOfTwoCompleted }} {{ oneOfTwoCompleted && !twoOfTwoStarted }} {{ twoOfTwoStarted && !twoOfTwoCompleted }} {{ twoOfTwoCompleted }}
          </ng-template>
        </ion-col>
          <!-- En of Range Button -->
        <ion-col col-2>            
        </ion-col>
      </ion-row>
      <!-- Map -->
      <ion-row>
        <ion-col class="map-container">
          <div #myTemplate class="map_wrapper">
            <app-map #map
              [mapConfig]="mapConfig"
              [taskLocations]="taskLocations"
              [taskStatus]="task.status"
              [taskType]="task.type"
              [runId]="task.runId"
              [runStartAt]="task.startAt"
              (directionsChange)="updatedirectionsToNext($event)"
              (startedAtUpdate)="updateStartedAt($event)"
              (legPercentageDistanceTravelled)="updatePBValue($event)">
            </app-map>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>      
  <!-- </ion-list>     -->
</ion-content>
