<ion-header>
    <ion-navbar>
      <ion-title>
        Ya Runz
      </ion-title>
    </ion-navbar>
  </ion-header>

<ion-content> 
  <ion-refresher (ionRefresh)="doRefresh($event)"> 
    <ion-refresher-content
      pullingText="Pull to refresh"
      pullingIcon="arrow-dropdown"
      refreshingSpinner="circles"
      refreshingText="...fetching">

    </ion-refresher-content>
  </ion-refresher>
    <ion-list>        
      <ion-list-header>
          <!-- <ion-avatar item-start>
              <img src="{{ runner?.photoUrl }}">
            </ion-avatar>
            <h2> Wass'up {{ runner?.userName | titlecase }} yo?</h2> -->
            <ion-label *ngIf="!isAvailable; else avlbl">You're not available yo ?</ion-label>
          <ng-template #avlbl>
            <ion-label>You're available</ion-label>
          </ng-template>
          <ion-toggle [(ngModel)]="isAvailable" (ionChange)="updateAvailable($event)" color="secondary"></ion-toggle>
       </ion-list-header>      
      <!-- <ion-item>
          <ion-icon name="car" item-start></ion-icon>
          Your Runs
      </ion-item>     -->
    </ion-list>
    <ng-container *ngIf="tasks.length !== 0; else noTasks">
      <ion-list *ngFor="let task of tasks">      
        <button ion-item (click)="buttonClick(task)">
          <ion-grid>
            <ion-row>
              <ion-col col-2>
                <ion-icon name="alarm" item-start  class="icon-big"></ion-icon>
              </ion-col>
              <ion-col col-3 class="time-to-go">
                <h1>{{ task.startAt | date: 'hh:mm' }}</h1>
                <p>{{ task.startAt | date: 'dd/MM' }}</p>
              </ion-col>
              <ion-col col-7>
                  <ion-list>
                    <ion-item>
                      <ion-icon name="pin"></ion-icon>
                      {{ task.from.name }}
                    </ion-item>
                    <ion-item>
                      <ion-icon name="pin"></ion-icon>
                        {{ task.to.name }}
                    </ion-item>
                  </ion-list>
              </ion-col>              
            </ion-row>            
          </ion-grid>       
          
        </button>
        <ion-item>
          
        </ion-item>
      </ion-list>      
    </ng-container>    
    <ng-template #noTasks>
      <ion-list>
        <ion-item item-center>
          You don't have any scheduled run yet
        </ion-item>
      </ion-list>
    </ng-template>
</ion-content>
