// @import "~@angular/material/prebuilt-themes/indigo-pink.css";


// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.toast {
    .toast-wrapper {
        transform: translateY(70px) !important;
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;
        z-index: 10;
        display: block;
        width: 100%;
        max-width: 700px;
        background: #55b7af;
    }

    
}

ion-icon {
    color: #00acc1;    
}

ion-row.row {
    display:  flex;
    /* justify-content: stretch; */
    /* justify-items: baseline; */
    align-items:  center;
    align-content: left;
}

h1.ng-tns-c0-0 {
    margin: 0;
}

.item-md {
    background: transparent;

}

.tabs-md .tabbar {
    background-color: map-get($colors, primary);

    .icon {
        color: map-get($colors, secondary) !important;
    }    
}

.tab-button[aria-selected=false] {
    color: white !important;
    .icon {
        color: white !important;
    }
}

.tab-button[aria-selected=true] {
    color: map-get($colors, secondary) !important;
}


.toolbar.toolbar-md {
    background-color: map-get($colors, primary) !important;

    .toolbar-background-md {
        background-color: map-get($colors, primary) !important;
    }

    .back-button-icon.icon.icon-md.back-button-icon-md.ion-md-arrow-back {
        color: map-get($colors, secondary) !important;
    }

    .toolbar-content {
        color: map-get($colors, secondary) !important;
    }

    .toolbar-title-md {
        color: map-get($colors, secondary) !important;
        display: flex;
        justify-content: space-between;
    }
}

.time-to-go {
    display: flex;
    flex-direction: column;
    align-items: center;
}


